body {
    background-image: url("pictures/Fond_infographie.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    padding: 50px;
    color: #ffffff;
}

.text-content {
    text-align: justify;
}

/*Navigation style*/
.navigation {
    margin: 0 auto;
    position: static;
}

.link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px
}

.nav-link-left {
    margin-right: -17em;
}

.nav-link-right {
    margin-left: -17em;
}

/*Presentation style*/
.presentation {
    margin: 5em 250px 50px;
}

.title {
    font-size: 40px;
    margin-bottom: 1em;
}

.link-externe {
    text-decoration: none;
    font-weight: bold;
    color: #ea7288;
}

/*Publication 1*/
.publication1 {
    margin-bottom: 4em;
}

.description {
    color: #000000;
}

/*Publication 2*/
.publication2 {
    margin-bottom: 4em;
}

#carousel2 {
    max-width: 400px;
    margin-left: 200px;
}

.img2 {
    max-width: 100%;
    height: auto;
}

.description2 {
    color: #ffffff;
}

/*Publication 3*/
.publication3 {
    margin-bottom: 4em;
}

/*Publication 4*/
.publication4 {
    margin-bottom: 4em;
}

/*Footer*/
.link-footer {
    text-decoration: none;
    color: #ffffff;
}

.footer .barre {
    border-top: 1px solid #ffffff;
    padding-top: 1em;
    margin-bottom: 2em;
}

.footer .col-4 {
    margin-top: 1em;
}

.github-link {
    margin-left: 20em;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.pinterest-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.linkedin-link {
    margin-right: 20em;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}